
.background-brand {
    background-color: $color-brand;
}

.background-white-alpha-9 {
    background-color: $color-white-alpha-9;
}

.background-action {
    background-color: $color-action;
}


.background-error{
    background-color: $color-error;
}


.background-black-alpha-3 {
    background-color: $color-black-alpha-3;
}

.background-black-alpha-6 {
    background-color: $color-black-alpha-6;
}
