
.color-brand {
    color: $color-brand;
}

.color-ls-text-primary {
    color: $color-ls-text-primary;
}

.color-ls-text-secondary {
    color: $color-ls-text-secondary;
}

.color-ds-text-primary {
    color: $color-ds-text-primary;
}

.color-ds-text-secondary {
    color: $color-ds-text-secondary;
}

.color-action {
    color: $color-action
}


.color-error{
    color: #f1565a;
}
