/**
* Colors
*/

$color-brand: #3366CC;

// ls = light surface, ds = dark surface

$color-ls-text-primary: black;

$color-ls-text-secondary: rgba(0, 0, 0, 0.91);

$color-ds-text-primary: white;

$color-ds-text-secondary: rgba(255, 255, 255, 0.91);

$color-white-alpha-9: rgba(255, 255, 255, 0.9);

$color-black-alpha-3: rgba(0, 0, 0, 0.3);

$color-black-alpha-6: rgba(0, 0, 0, 0.6);

$color-action: #33cd8f;

$color-action-darker: #34c384;

$color-action-darkest: #34b97a;

$color-secondary-action: #3c7af7;

$color-secondary-action-darker: #3c77ed;

$color-secondary-action-darkest: #3c72e3;

$color-error: #f1565a;

$color-warn: #f1565a;

$color-warn-darker: #e75458;

$color-warn-darkest: #dd565a;

/**
* Spacing
*/

$spacing: 0.5rem;

$spacing-1x: $spacing * 2;

$spacing-2x: $spacing * 3;
